html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Î¢ÈíÑÅºÚ",Arial,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Element */
.el-textarea__inner{
	box-shadow: none;
	outline: none;
	border: none;
	resize: none;
}
.el-textarea__inner:focus{
	border: none;
	box-shadow: none;
}
.el-textarea__inner:hover{
	border: none;
	box-shadow: none;
}

.el-cascader-menu__wrap.el-scrollbar__wrap{
	height:100%;
}

.el-text-color{
	color:#606266;
}


/* DIY */
.clear-input{
    background: none;
    outline: none;
    border: none;
}
.input-80{
	width: 80%;
}
.input-100{
	width: 100%;
}

.large-font {
    font-size: 150%;
    font-weight: lighter;
    font-style: italic;
}

.middle-font{
	font-size: 120%;
    font-weight: lighter;
    font-style: italic;
}

textarea{
	border:none;
	outline: none;
}

.length-50{
	width: 50%;
}
.length-90{
	width: 90%;
}


.title{
    margin: 0 3vw;
    font-size: 130%;
    font-weight: 300;
    font-style: italic;
	padding-bottom: 2vh;
}

.block{
	display: block;
}

.space-between{
	display: flex;
	justify-content: space-between;
}

.space-evenly{
	display: flex;
	justify-content: space-evenly;
}

.row-reverse{
	display: flex;
	flex-direction: row-reverse;
}

.vertical-center{
	margin-top: auto;
    margin-bottom: auto;
}

.icon-button{
	cursor: pointer;
}
.icon-button:hover{
	color:  #a0cfff !important;
}


.header-info{
    margin: 2vh auto;
    text-align: center;
    font-size:200%; 
    font-weight:300; 
    font-style:oblique; 
    color: #79bbff
}

.card-margin{
    margin: 2vh 4vw;
}

.margin-right{
	margin-right: 2vw;
}

.margin-horizontal{
	margin-left: 1vw;
	margin-right: 1vw;
}

.block{
	display:block;
}

.inline-block{
	display: inline-block;
}