<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.juumii.MindTrace.model.mapper.ContentMapper">

    <resultMap id="resultMap" type="Content">
        <result column="description" property="desc"/>
        <result column="src" property="src"/>
        <result column="task_id" property="taskId"/>
    </resultMap>
    <insert id="insert">
        insert into content (description, src, task_id, id) values(#{data.desc}, #{data.src}, #{data.taskId}, #{data.id})
    </insert>
    <update id="updateTaskId">
        update content set task_id = #{taskId} where id = #{id}
    </update>
    <update id="update">
        update content set
        description = #{data.desc},
        src = #{data.src},
        task_id = #{data.taskId},
        id = #{data.id}
        where id = #{data.id}
    </update>
    <delete id="deleteById">
        delete from content where id = #{id}
    </delete>
    <select id="queryAll" resultMap="resultMap">
        select * from content
    </select>
    <select id="queryByTaskId" resultMap="resultMap">
        select * from content where task_id = #{taskId}
    </select>
    <select id="queryById" resultMap="resultMap">
        select * from content where id = #{id}
    </select>
    <select id="queryByLike" resultMap="resultMap">
        select * from content where description like #{keyword}
    </select>


</mapper>