<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.juumii.MindTrace.model.mapper.KnowledgeMapper">

    <insert id="insert">
        insert into knowledge (id, description, super_knowledge_id, mastery_max, mastery_min)
        values(#{data.id}, #{data.description}, #{data.superKnowledgeId}, #{data.masteryMax}, #{data.masteryMin});
    </insert>
    <update id="update">
        update knowledge set
        description = #{data.description},
        super_knowledge_id = #{data.superKnowledgeId},
        mastery_min = #{data.masteryMin},
        mastery_max = #{data.masteryMax},
        id = #{data.id}
        where id = #{data.id}
    </update>
    <delete id="deleteById">
        delete from knowledge where id = #{id}
    </delete>
    <select id="queryById" resultType="knowledge">
        select * from knowledge where id = #{id}
    </select>
    <select id="queryAll" resultType="knowledge">
        select * from knowledge
    </select>
    <select id="queryBySuperKnowledgeId" resultType="knowledge">
        select * from knowledge where super_knowledge_id = #{superKnowledgeId}
    </select>
</mapper>