<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.juumii.MindTrace.model.mapper.QuizCardMapper">

    <insert id="insert">
        insert into quiz_card (id, front, back, description, knowledge_id)
        values(#{data.id}, #{data.front}, #{data.back}, #{data.description}, #{data.knowledgeId})
    </insert>

    <update id="update">
        update quiz_card set
        id = #{data.id},
        front = #{data.front},
        back = #{data.back},
        description = #{data.description},
        knowledge_id = #{data.knowledgeId}
        where id = #{data.id}
    </update>

    <delete id="deleteById">
        delete from quiz_card where id = #{id}
    </delete>

    <select id="queryByKnowledgeId" resultType="quizCard">
        select * from quiz_card where knowledge_id = #{knowledgeId}
    </select>

    <select id="queryById" resultType="quizCard">
        select * from quiz_card where id = #{id}
    </select>

    <select id="queryAll" resultType="quizCard">
        select * from quiz_card
    </select>
</mapper>