<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.juumii.MindTrace.model.mapper.QuizRecordMapper">

    <insert id="insert">
        insert into quiz_record (id, description, completion, time, card_id)
        values (#{data.id}, #{data.description}, #{data.completion}, #{data.time}, #{data.cardId})
    </insert>
    <update id="update">
        update quiz_record set
        description = #{data.description},
        completion = #{data.completion},
        time = #{data.time},
        card_id = #{data.cardId}
        where id = #{data.id}
    </update>
    <delete id="deleteById">
        delete from quiz_record where id = #{id}
    </delete>
    <delete id="deleteAll">
        delete from quiz_record
    </delete>
    <select id="queryByTaskId" resultType="quizRecord">
        select * from quiz_record where card_id = #{cardId}
    </select>
    <select id="queryAll" resultType="quizRecord">
        select * from quiz_record
    </select>
    <select id="queryById" resultType="quizRecord">
        select * from quiz_record where id = #{id}
    </select>
</mapper>