<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.juumii.MindTrace.model.mapper.SettingsMapper">

    <insert id="insert">
        insert into settings(k,v) values(#{data.k},#{data.v})
    </insert>
    <update id="update">
        update settings set v = #{data.v} where k = #{data.k}
    </update>
    <delete id="deleteById">
        delete from settings where id = #{id}
    </delete>
    <select id="queryById" resultType="pers.juumii.MindTrace.model.data.Settings">
        select * from settings where id = #{id}
    </select>
    <select id="queryAll" resultType="pers.juumii.MindTrace.model.data.Settings">
        select * from settings
    </select>
    <select id="queryByLike" resultType="pers.juumii.MindTrace.model.data.Settings">
        select * from settings where k like #{keyword}
    </select>
</mapper>